


.power-container{
    display: flex;
    gap: 30px;
    background: url('background(1).png') repeat none;
    margin-top: 200px;
   
    
}
.power-text{
    background:    #F1F1F1 ;
    padding: 40px 80px;
    border: none;
    border-radius: 39px;
 
}
.power-text h1{
    font-size: 50px;
    font-weight: 800;
    max-width: 870px;
    font-family: "Nunito", sans-serif;
}
.power-text h2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #797979;
    line-height: 157.4%;
    max-width: 587px;
 }

    .power-image{
        display: flex;
    }
    .p-text h1{
        font-size: 30px;
        font-weight: bold;
        font-family: "Nunito", sans-serif ;
    }
    .image-fluid{
        max-width: 100%;
        height: auto;
        
    }
   
